spring:
  application:
    name: mythiqa-backend
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${CLERK_JWT_ISSUER}
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB
      enabled: true

aws:
  s3:
    access-key: ${AWS_ACCESS_KEY_ID:}
    secret-key: ${AWS_SECRET_ACCESS_KEY:}
    region: ${AWS_REGION:us-east-2}
    bucket-name: ${AWS_S3_BUCKET:project-mythiqa-aws-s3}

clerk:
  secret-key: ${CLERK_SECRET_KEY:}

